 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 951px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  width: 809px;
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-1 .u-image-1 {
  width: 408px;
  height: 643px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px auto -231px;
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 844px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 536px;
  }
}

.u-section-1 .u-text-1,
.u-section-1 .u-text-1:before,
.u-section-1 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-2 .u-sheet-1 {
  min-height: 656px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 80px;
  margin-bottom: 70px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 536px;
  background-image: none;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-2 .u-group-1 {
  width: 105px;
  min-height: 107px;
  margin: -21px auto 0 0;
}

.u-section-2 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 37px 22px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 19px 35px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 536px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-2 .u-group-2 {
  width: 105px;
  min-height: 107px;
  margin: -21px auto 0 0;
}

.u-section-2 .u-text-4 {
  font-size: 6rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 37px 22px 0 0;
}

.u-section-2 .u-text-6 {
  margin: 19px 35px 0 0;
}

.u-section-2 .u-image-1 {
  width: 171px;
  height: 171px;
  background-image: url("images/pexels-christina-morillo-1181248.jpg");
  background-position: 50% 50%;
  margin: 24px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 562px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 442px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 442px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    width: 148px;
    height: 148px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-2 .u-text-4 {
    font-size: 4.5rem;
  }
} .u-section-3 {
  min-height: 519px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 519px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 100px 30px 124px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-2 {
  font-size: 1rem;
  line-height: 2;
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 519px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 100px 30px 50px;
}

.u-section-3 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 28px 0 0;
}

.u-section-3 .u-text-4 {
  font-size: 1rem;
  line-height: 2;
  margin: 22px 0 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 403px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 428px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 428px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 503px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 49px;
    padding-left: 50px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-container-layout-1 {
    padding-right: 50px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 303px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 30px auto 0 0;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto auto auto;
  grid-auto-rows: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  min-height: 148px;
  grid-gap: 30px 30px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-group-1 {
  min-height: 144px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  height: 73px;
  width: 73px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 4px auto 0 0;
  padding: 16px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -64px 0 0 103px;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 0;
}

.u-section-4 .u-group-2 {
  min-height: 144px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-icon-2 {
  height: 73px;
  width: 73px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 4px auto 0 0;
  padding: 16px;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -64px 0 0 103px;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
}

.u-section-4 .u-container-layout-5 {
  padding: 0;
}

.u-section-4 .u-group-3 {
  min-height: 144px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

.u-section-4 .u-icon-3 {
  height: 73px;
  width: 73px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 4px auto 0 0;
  padding: 16px;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -64px 0 0 103px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 374px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 54px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 194px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-top: 20px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 595px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    min-height: 416px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1102px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1145px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 844px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: 7px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 702px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 862px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 373px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  line-height: 1.8;
  font-weight: 800;
  font-size: 2.25rem;
  margin: 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 373px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-image-1 {
  width: 293px;
  height: 293px;
  background-image: url("images/pexels-rebrand-cities-1367276.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 449px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-image-2 {
  width: 264px;
  height: 264px;
  background-image: url("images/pexels-humphrey-muleba-2058659.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 449px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-4 {
  padding: 26px 30px;
}

.u-section-5 .u-image-3 {
  width: 271px;
  height: 271px;
  background-image: url("images/pexels-andrea-piacquadio-846747.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-5 .u-layout-cell-5 {
  min-height: 449px;
}

.u-section-5 .u-container-layout-5 {
  padding: 21px 0;
}

.u-section-5 .u-text-2 {
  font-size: 1rem;
  margin: 0 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 737px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 308px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 308px;
  }

  .u-section-5 .u-image-1 {
    width: 267px;
    height: 267px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 370px;
    background-position: 50% 50%;
  }

  .u-section-5 .u-image-2 {
    width: 240px;
    height: 240px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 370px;
    background-position: 50% 50%;
  }

  .u-section-5 .u-image-3 {
    width: 240px;
    height: 240px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 370px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1106px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 5px;
    margin-bottom: 25px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 460px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 460px;
  }

  .u-section-5 .u-image-1 {
    width: 194px;
    height: 194px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 628px;
  }

  .u-section-5 .u-image-2 {
    width: 167px;
    height: 167px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 628px;
  }

  .u-section-5 .u-image-3 {
    width: 167px;
    height: 167px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 628px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1409px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 285px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 228px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 185px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1086px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 179px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 144px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 116px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 686px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 726px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-6 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 60px 60px 0 0;
}

.u-section-6 .u-image-1 {
  min-height: 726px;
  background-image: url("images/pexels-moose-photos-1036622copy.png");
  background-position: 50% 0%;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 559px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 599px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-6 .u-image-1 {
    min-height: 599px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 460px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 41px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-image-1 {
    min-height: 459px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 845px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-6 .u-image-1 {
    min-height: 738px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 554px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-image-1 {
    min-height: 465px;
  }
}